
<!-- HACER PLANTILLA BLOQUE -->

<!-- Fijarse en las canchas de admin -->
<!-- Agregar boton de añadir -->
{% extends 'app1/base.html' %}
{% block content %}
<section id="call-to-action">
  <div class="container">
{% if messages %}
    <div class="row">
      <div class="col-sm-12">
          {% for message in messages %}
          <p 
          {% if message.tags == "success" %} 
          class="alert alert-success"
          {% else %}
          class="alert alert-danger"
          {% endif %}>{{ message }}
        </p>
        {% endfor %}
      </div>
    </div>   
{% endif %}
<div class="col-sm-12">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Decripción</th>
      <th scope="col">Valor de día</th>
      <th scope="col">Valor de noche</th>
    </tr>
  </thead>
  <tbody>
    {% for cancha in canchas %}
    <tr>
      <td>0000{{ cancha.id }}</td>
      <td><a href="{% url 'cancha_enlace' pk=cancha.pk %}">{{ cancha.descripcion_cancha }}</a></td>
      <td>{{ cancha.valor_dia }}</td>
      <td>{{ cancha.valor_noche }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'cancha_nueva' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Añadir nueva cancha</span></a>
</div>
</div>
</section>
{% endblock %}