{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
<section id="call-to-action">
    <div class="container">
        <div class="col-lg-12 text-center" id="content">
            <h3 class="cta-title" > ¡ RESERVA ONLINE Y JUEGA YA !</h3>
            <h3 class="cta-title">{{complejo.nombre_complejo}}</h3>
            <h4 class="cta-text"> Fácil, rápido y seguro </h4>
            <h5 class="cta-text">{{complejo.direccion_complejo}}</h5>
            <h6 class="cta-text">{{complejo.telefono_complejo}}</h6>
            <input id="hidden" type="hidden" value="{{complejo.puntuacion_complejo}}">
            <div id="stars" class="cta-text"></div>
            <script>
                html='';
                stars = parseInt($('#hidden').val());
                console.log(stars);
                
                for (let i = 0; i < stars; i++) {
                    html+='<i class="fas fa-star"></i>';                
                }
                $('#stars').html(html);
            </script>
            <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
        </div>
        <div class="col-lg-12">
            <h5 class="cta-text"> </h5>
        </div>
    </div>
</section>


<section id="contact">
    <div class="container">
        <div class="row wow fadeInUp">

            <div class="col-lg-4 col-md-4">
                <div class="contact-about">
                    <h3>Futbolito</h3>
                    <p>
                        Es un complejo deportivo que ofrece el servicio de alquiler de canchas sintéticas de fútbol a los habitantes de la ciudad de Loja y del País, que les guste entretenerse y divertirse jugando al fútbol, haciéndolos sentir parte de nosotros y superando sus expectativas en cuanto a la calidad en el servicio. Comprometidos con nuestros usuarios, podrás encontrar servicio como:
                        Información de canchas, precio, horarios, así mismo te permitirá reservar en las mejores canchas sintéticas que tenemos, de una forma más óptima y actualizada, para divertirte y compartir grandes momentos con tus familiares y amigos:
                        “ Si no te esfuerzas hasta el máximo ¿Cómo sabrás donde está tu límite? ”
                    </p>

                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="ion-ios-location-outline"></i>
                        <p>{{complejo.direccion_complejo}} Loja-Ecuador</p>
                    </div>

                    <div>
                        <i class="ion-ios-telephone-outline"></i>
                        <p>{{complejo.telefono_complejo}}</p>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 col-md-8">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <img src="{% static 'img/about-img.jpg' %}" style="width: 140%; border-radius: 10px;">
                </div>
            </div>

        </div>

    </div>
</section><!-- #contact -->

<script>
    $('#editComplejo').click(function () {
        $('#content').html('<form action="/complejo/update" method="POST" id="call-to-action">{% csrf_token %}'+
                '<div class="input-field col s12">Nombre del Complejo Deportivo:'+
                    '<input type="text" name="nombre_complejo" value="{{complejo.nombre_complejo}}" minlenght="3" maxlength="50" required>'+
                '</div>'+
                '<div class="input-field col s12">Dirección del Complejo Deportivo:'+
                    '<input type="text" name="direccion_complejo" minlenght="10" maxlength="80" value="{{complejo.direccion_complejo}}" placeholder="sector-calle principal-calle secundaria-nro-referencia" required>'+
                '</div>'+
                '<div class="input-field col s12">Teléfono del Complejo Deportivo:'+
                    '<input type="text" name="telefono_complejo" minlenght="10" maxlength="19" value="{{complejo.telefono_complejo}}" required>'+
                '</div><br>'+
                '<button class="btn btn-success "><i class="fas fa-done"></i>Guardar cambios</button></form>');
        // $('#editComplejo').attr('id', '');
    });
</script>
{% endblock %}
