{% extends 'app1/base.html' %}
{% load static %}
{% block content %}

<section id="call-to-action" style="padding-top: 205px; padding-bottom: 250px; 
{% if complejo.foto_complejo %}
background: url(media/{{complejo.foto_complejo}});">
{% endif %}
    <div class="container">
        <div class="col-lg-12 text-center" id="content">
            <div class="col-lg-12 text-center">
                <h3 class="cta-title" > ¡ RESERVA ONLINE Y JUEGA YA !</h3>
                <h3 class="cta-title">{{complejo.nombre_complejo}}</h3>
                <h4 class="cta-text"> Fácil, rápido y seguro </h4>
                <h4 class="cta-text"><b>{{complejo.direccion_complejo}}</b></h4>
                <h4 class="cta-text"><b>{{complejo.telefono_complejo}}</b></h4>
                <input id="hidden" type="hidden" value="{{complejo.puntuacion_complejo}}">
                <div id="stars" class="cta-text" style="font-size:35px;"></div>
                <script>
                                    var puntuacion = {{ complejo.puntuacion_complejo }};
                                    var calificacion = document.getElementById("stars");
                                    for (var i = 1; i <= 5; i++) {
                                        if (i <= puntuacion) {
                                            calificacion.innerHTML += "<label style='color: orange'>★</label>";
                                        } else {
                                            calificacion.innerHTML += "<label style='color: grey'>★</label>";
                                        }
                                    };
                                </script>
                <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
            </div>
    </div>
</div>
</section>


<section id="contact">
    <div class="container">
        <div class="row wow fadeInUp">

            <div class="col-lg-4 col-md-4">
                <div class="contact-about">
                    <h3>Futbolito</h3>
                    <p style="text-align: justify;">
                        Es una aplicación web/móvil que permite la automatización de la información de los Complejos Deportivos que ofrecen el servicio de alquiler de canchas sintéticas de fútbol, brindando un tratamiento óptimo que facilita el desarrollo de las actividades diarias de estos centros. Comprometidos también con lo clientes de nuestros complejos, Futbolito cuenta con una aplicación móvil en la que sus usuarios podrán encontrar: Información de los complejos y sus canchas, y podrán realizar sus reservaciones de una forma óptima y segura, para que te diviertas y compartas grandes momentos con tus familiares y amigos:
                        “ Si no te esfuerzas hasta el máximo ¿Cómo sabrás donde está tu límite? ”
                    </p>
                </div>
              
                <div class="info">
                    <b>Contáctenos:</b> 
                        <i class="ion-ios-location-outline"></i>
                        <i class="ion-ios-telephone-outline"></i>
                        <h6>0959132167</h6>
                        <h6>Loja-Ecuador</h6>
                </div>
           

            </div>

            

            <div class="col-lg-8 col-md-10">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                </div>

                <!-- Caja de comentarios -->
                {% if user.is_authenticated %}

                <h3>Comentarios</h3>
                <div class="list-group" style="overflow: scroll; width: 720px; height: 350px;">
                    <ul class="list-group">
                        {% for comentario in comentarios %}
                        <li class="list-group-item">
                            <FONT SIZE=5>{{ comentario.usuario }}</font>
                            <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="#">{{ comentario.fecha_creacion }}</a>
                            <p id="calificacion{{forloop.counter}}">
                                <script>
                                    var puntuacion = {{ comentario.puntuacion_usuario }};
                                    var calificacion = document.getElementById("calificacionc{{forloop.counter}}");
                                    for (var i = 1; i <= 5; i++) {
                                        if (i <= puntuacion) {
                                            calificacion{{forloop.counter}}.innerHTML += "<label style='color: orange'>★</label>";
                                        } else {
                                            calificacion{{forloop.counter}}.innerHTML += "<label style='color: grey'>★</label>";
                                        }
                                    }
                                    calificacion{{forloop.counter}}.innerHTML += "<br>";
                                </script>
                                {{ comentario.comentario }}
                            </p>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}



            </div>
</section><!-- #contact -->




{% endblock %}
