{% extends 'app1/base.html' %}

{% block content %}
	<h1>Modificar reserva</h1>
    	<form method="POST" class="post-form">
    		{% csrf_token %}
    		<label for="{{ form.usuario.id_for_label }}">Usuario:</label>
    		{{ form.usuario }}
    		<label for="id_cancha">Cancha:</label> 
    		<select name="cancha" required id="id_cancha">
    			<option value="" selected>---------</option>
				{% for cancha in canchas %}
  					<option value="{{ cancha.id }}">{{ cancha.descripcion_cancha }}</option>
  				{% endfor %}
			</select>
			<label for="{{ form.codigo_reserva.id_for_label }}">Código reserva:</label>
    		{{ form.codigo_reserva }}
			<label for="{{ form.fecha_reserva.id_for_label }}">Fecha a reservar:</label>
    		{{ form.fecha_reserva }}
    		<label for="{{ form.hora_inicio.id_for_label }}">Hora inicio:</label>
    		{{ form.hora_inicio }}
            <label for="{{ form.hora_fin.id_for_label }}">Hora fin:</label>
            {{ form.hora_fin }}
    		<label for="{{ form.valor_unitario.id_for_label }}">Valor unitario:</label>
    		{{ form.valor_unitario }}
    		<label for="{{ form.valor_total.id_for_label }}">Valor total:</label>
    		{{ form.valor_total }}
    		<label for="{{ form.estado_reserva.id_for_label }}">Estado:</label>
    		{{ form.estado_reserva }}
	        <button type="submit" class="save btn btn-default">Guardar</button>
    	</form>
{% endblock %}

