{% extends 'app1/base.html' %}

{% block content %}
<section id="call-to-action">
<div class="container">
    <div class="col-sm-12">
        <h1>{{ titulo }}</h1>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <h3>¿ Desea cancelar la reserva ?</h3>
            <button class="btn btn-danger" type="submit">Sí, cancelar reserva </button>
            <a class="btn btn-default" href="/reserva">Cancelar</a>
        </form>
    </div>
</div>
</section>
{% endblock %}