{% extends 'app1/base.html' %}

{% block content %}
<section id="call-to-action">
<div class="container">
    <div class="col-sm-12">
        <h1>{{ titulo }}</h1>
        <div class="table-responsive">
    <table class="table table-striped table-dark">
       <!-- <caption style="color: #f8f9fa">Lista de reservas</caption> -->
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Usuario</th>
          <th scope="col">Cancha</th>
          <th scope="col">Fecha reserva</th>
          <th scope="col">Hora inicio</th>
          <th scope="col">Hora fin</th>
          <th scope="col">Valor unitario</th>
          <th scope="col">Valor total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0000{{ reserva.id }}</td>
          <td>{{ reserva.usuario }}</td>
          <td>{{ reserva.cancha }}</td>
          <td>{{ reserva.fecha_reserva }}</td>
          <td>{{ reserva.hora_inicio }}</td>
          <td>{{ reserva.hora_fin }}</td>
          <td>{{ reserva.valor_unitario }}</td>
          <td>{{ reserva.valor_total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <h4>¿ Desea cancelar la reserva ?</h4>
            <button class="btn btn-danger" type="submit">Sí, cancelar reserva </button>
            <a class="btn btn-secondary" href="/reserva">No, volver</a>
        </form>
    </div>
</div>
</section>
{% endblock %}